.header-ad{
    display: flex;
    width: 100%;
    background-color: #4F4F4F;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 13%;
    padding: 20px;
}

.header-ad div:nth-of-type(2){
    color:white;
}

.header-logo{

    height: 100px;
}
.header-logo img{
    width: 100px;
    margin-top: 0px;
}

.menu{
    position: fixed;
    top: 13%;
    background-color: var(--gray);
    color: rgb(144, 144, 144);
    width: 15%;
    height: 87%;
    padding: 20px;
}

.menu *{
    font-weight: bold;
}

.menu div:nth-of-type(1){
    margin: 10px 10px 20px 10px;
    color: white;
}

.menu div{
    margin: 10px;
}

.menu a{
    margin: 20px;
}


.menu div i{
    font-size: 10px;
}
.createProduct{
    position: fixed;
    top: 12%;
    left: 15%;
}
.deleteProduct{
    position: fixed;
    top: 12%;
    left: 15%;
}
.page{
    padding: 0px 50px;
    
}
.page .title:nth-of-type(1){
    font-size: 26px;
    font-weight: 550;
    color: black;
}
.page .title:nth-of-type(2){
    font-size: 19px;
    font-weight: 550;
    background: #56CCF2;
    width: 500px;
    height: 50px;
    padding: 12px;
    color: black;

}
.page button:nth-of-type(1){
    background-color: #6FCF97;
    width: 150px;
    height: 50px;
    font-size: 19px;
    font-weight: 550;
    border : none;
    margin-left: 10px;
    margin-bottom: 0px;
    border-radius: 3px;
    color: black;
}
.createCatalog{
    position: fixed;
    top: 12%;
    left: 15%;
}

.content{
    position: fixed;
    top: 13%;
    left: 15%;
    width: 85%;
    height: 100%;
    padding: 30px 70px;
}

.user-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-header{
    font-weight: bold;
}

.user-header,
.user-info{
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr 2fr 4fr 2fr 1.5fr 1.5fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: black;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.user-status{
    background-color: #4ecd87;
    padding: 5px;
    border-radius: 5px;
}

.user-status-lock{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.user-action i{
    cursor: pointer;
}

.user-action i:nth-of-type(1){
    margin-right: 10px;
}


.order-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-header{
    font-weight: bold;
}

.order-header,
.order-info{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1.5fr 1.5fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: black;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.order-status{
    background-color: #4ecd87;
    padding: 5px;
    border-radius: 5px;
}

.order-status-lock{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.order-action i{
    cursor: pointer;
}

.order-action i:nth-of-type(1){
    margin-right: 10px;
}

.order-status-pending{
    background-color: rgb(230, 158, 25);
    padding: 5px;
    border-radius: 5px;
}

.order-status-delivered{
    background-color: #28ac64;
    padding: 5px;
    border-radius: 5px;
}

.user-status-canceled{
    background-color: #f84c2c;
    padding: 5px;
    border-radius: 5px;
}

.order-action{
    cursor: pointer;
}


.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-header{
    font-weight: bold;
}

.product-header,
.product-info{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 1.5fr 2fr 1fr 1fr;
    padding: 25px 0;
    text-align: center;
    align-items: center;
    color: black;
    border-bottom: 1px solid hsl(0, 0%, 50%, 0.3);
}

.product-info img{
    width: 90px;
}

.product-action i{
    cursor: pointer;
}

.product-action i:nth-of-type(1){
    margin-right: 10px;
}