.card{
    border: 1px solid black;
    width: 190px;
    height: 250px;
    background-color: #f8f4f4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card img{
    width: 120px;
}

.card-btns{
    height: 40px;
}

.card-btns button{
    background-color: #c8c4c4;
    border-radius: 5px;
    border: none;
    height: 100%;
}

.card-btns button:nth-of-type(1){
    width: 40px;
    margin-right: 5px;
}

.card-btns button:nth-of-type(2){
    padding: 0 10px;
}