
.page button:nth-of-type(2){
    background-color: #6FCF97;
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-weight: 550;
    border : none;
    margin: 0px 10px;
    border-radius: 3px;
    color: black;

}
.page .container-content  .list{
    font-size: 18px;
    font-weight: 550;
    margin: 5px 0px;
    color: black;


}
.page .content{
    border: solid 1px black;
    height: 40px;
    border-radius: 7px;
    width: 300px;
    color: black;
    margin-bottom: 7px;

}
.page select{
    border: solid 1px black;
    height: 40px;
    border-radius: 7px;
    width: 300px;
    font-size: 17px;
    padding:10px;
    font-weight: 100;
    margin-bottom: 7px;
}
.page .container-content{
    display:flex;
    margin: 0px;
}
.page input{
    font-size: 15px;
    font-weight: 100;
    padding: 5px ;
}
.page .container-content .box{
    margin-left: 80px;
}
.page .container-content .box .content{
    border: solid 1px black;
    height: 120px;
    border-radius: 7px;
    width: 300px;
    color: black;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 100;
    font-family:inherit;
    padding: 10px;

}
.page .container-content .box .list{
    font-size: 18px;
    font-weight: 550;
    margin: 5px 0px;
    color: black;
}