.page{
    padding: 10px 50px;
    
}
.page .title:nth-of-type(1){
    font-size: 27px;
    font-weight: 550;
    padding: 10px 0px;
}
.page .title:nth-of-type(2){
    font-size: 20px;
    font-weight: 550;
    background: #56CCF2;
    width: 500px;
    height: 50px;
    padding: 10px;
}
.page button:nth-of-type(1){
    background-color: #6FCF97;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 550;
    border : none;
    margin: 15px 0px;
    border-radius: 4px;

}
.page button:nth-of-type(2){
    background-color: #6FCF97;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 550;
    border : none;
    margin: 20px 0px;
    border-radius: 4px;
}
.page .list{
    font-size: 20px;
    font-weight: 550;
    margin: 10px 0px;

}
.page .content{
    border: solid 1px black;
    height: 40px;
    border-radius: 7px;
    width: 300px;

}
.page select{
    border: solid 1px black;
    height: 40px;
    border-radius: 7px;
    width: 300px;
    font-size: 17px;
    padding:10px;
}
