
.page button:nth-of-type(2){
    background-color: #fb6065;
    width: 130px;
    height: 50px;
    font-size: 18px;
    font-weight: 550;
    border : none;
    margin: 10px 10px;
    border-radius: 3px;
    color: white;

}