footer{
    position: relative;
    bottom: 0;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    width: 100%;
}

footer img{
    width: 90px;
}

footer *{
    color: white;
}

footer p{
    margin-bottom: 5px;

}

footer i{
    font-size: 35px;
}