header{
    position: relative;
    top: 0;
    left: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 5px;
}

.search{
    display: flex;
    align-items: center;
}

header img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.search .search-field{
    width: 450px;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #f8f4f4;
}

.search input::placeholder{
    font-weight: bold;
}

.search button{
    margin: 0;
    display: flex;
    height: 45px;
    width: 62px;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.action *{
    color: white;
}

.action a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 25px;
}

.action i{
    font-size: 20px;
    margin-right: 7px;
}

.nav-container{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background: linear-gradient(to right, var(--yellow), #ffd454, #ffc454,#ffa454);
}

.nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav a::after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ffa454;
    transition: 0.3s;
}

.nav a:hover::after{
    width: 100%;
}

.nav a.active::after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffa454;
    transition: 0.3s;
}

.header-price-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 1200px) {
    .search img {
        margin: 0 20px;
        /* width: 60px;
        height: 60px; */
    }

    .search input {
        width: 300px;
    }

    .action {
        margin-right: 20px;
    }

    .nav-container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .nav a {
        font-size: 14px;
    }
}

@media (max-width: 643px) {
    .nav a {
        font-size: 11px;
    }
}


