header{
    position: relative;
    top: 0;
    left: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 10px;
}

.search{
    display: flex;
    align-items: center;
}

.search img{
    width: 70px;
    height: 70px;
    margin-right: 70px;
    margin-left: 30px;
    cursor: pointer;
}

.search input{
    width: 450px;
    height: 45px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 3px;
    background-color: #f8f4f4;
}

.search input::placeholder{
    font-weight: bold;
}

.search span{
    display: flex;
    height: 45px;
    width: 62px;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.action *{
    color: white;
}

.action a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.action i{
    font-size: 30px;
}

.nav-container{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background: linear-gradient(to right, var(--yellow), #ffd454, #ffc454,#ffa454);
}

.nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav a::after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ffa454;
    transition: 0.3s;
}

.nav a:hover::after{
    width: 100%;
}

