.product.container {
    margin: 20px auto 20px auto;
    width: 100%;
    min-height: 400px;
    min-width: 550px;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 30px 20px 0 20px;
    background: linear-gradient(to right, var(--yellow), #ffd454, #ffc454, #ffa454);
    gap: 0;
    justify-content: start;
}